<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Page"/>

<f:section name="Configuration">

    <!-- Make this page type configurable -->
    <flux:form id="dynamic">
        <f:render section="Configuration" partial="BreadCrumb" arguments="{_all}" />
        <flux:form.sheet name="sections">
            <flux:form.section name="sections">
                <flux:form.object name="section" label="{sectionTitle}">
                    <flux:field.input name="sectionTitle" label="Section title" />
                    <flux:field.select name="sectionLayout" label="Section Layout"
                                       items="{0: 'Default', 1: 'Full width', 2: 'Parallax'}"
                                       default="0"
                                       requestUpdate="1"/>
                    <flux:field.input name="backgroundColor" label="Background color">
                        <flux:wizard.colorPicker />
                    </flux:field.input>
                    <flux:field.file name="parallaxBackground"
                                   maxItems="1"
                                   multiple="false"
                                   showThumbnails="true"
                                   requestUpdate="true" />
                </flux:form.object>
            </flux:form.section>
        </flux:form.sheet>
    </flux:form>

    <!-- Define the backend layout -->
    <flux:grid>
        <flux:grid.row>
            <flux:grid.column colPos="2000" name="top"/>
        </flux:grid.row>
        <!-- If we have sections in use -->
        <f:if condition="{sections -> f:count()} > 0">
            <f:for each="{sections}" as="section" iteration="iteration">
                <!-- Every section that has been configured in the sheet above will be output as a column in the backend layout -->
                <flux:grid.row>
                    <flux:grid.column name="content.{iteration.index}" colPos="{iteration.index}" label="{f:if(condition: section.section.sectionTitle, then: section.section.sectionTitle, else: 'Content, section {iteration.cycle}')}" />
                </flux:grid.row>
            </f:for>
        </f:if>
        <flux:grid.row>
            <flux:grid.column colPos="5000" name="footer"/>
        </flux:grid.row>
    </flux:grid>
</f:section>

<f:section name="Content">
    <v:content.render column="{iteration.index}" />
</f:section>

<f:section name="DefaultContainer">
    <div class="container" {f:if(condition: section.backgroundColor, then:'style="background-color: {section.backgroundColor};"')}>
        <div class="section">
            <f:render section="Content" arguments="{_all}" />
        </div>
    </div>
</f:section>

<f:section name="FullWidthContainer">
    <div class="section" {f:if(condition: section.fullWidthBackground, then:'style="background-color: {section.backgroundColor};"')}>
        <f:render section="Content" arguments="{_all}" />
    </div>
</f:section>

<f:section name="ParallaxContainer">
    <div class="parallax-container valign-wrapper">
        <f:if condition="{section.parallaxBackground}">
            <div class="parallax">
                <img src="{section.parallaxBackground}" class="parallax-background"/>
            </div>
        </f:if>

        <div class="section">
            <div class="container">
                <f:render section="Content" arguments="{_all}" />
            </div>
        </div>
    </div>
</f:section>

<f:section name="Main">

    <f:for each="{sections}" as="sectionObject" iteration="iteration">
        <!-- We don't want to write sectionObject.section everytime, so we assign it to a temporary variable-->
        <v:variable.set name="section" value="{sectionObject.section}" />
        <f:switch expression="{section.sectionLayout}">
            <f:case value="1"><f:render section="FullWidthContainer" arguments="{_all}"/></f:case>
            <f:case value="2"><f:render section="ParallaxContainer" arguments="{_all}"/></f:case>
            <f:case default="1"><f:render section="DefaultContainer" arguments="{_all}"/></f:case>
        </f:switch>
    </f:for>
</f:section>
