<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">
<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12 white-text">
                <v:content.render column="5000" slide="-1"/>
            </div>
            <f:render partial="FooterMenu" arguments="{_all}"/>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
           Typo3 Theme Distribution made by <a class="brown-text text-lighten-3" href="http://pfaffenrodt.de">Pfaffenrodt</a> | CSS framework made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>
