<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:section name="Configuration">

    <flux:field.select name="settings.header.Layout" label="Header Layout"
                       items="{0: 'Default', 1: 'Parallax'}"
                       default="0"
                       requestUpdate="1"/>
    <flux:field.file name="settings.header.parallaxBackground"
                     label="LLL:settings.header.parallaxBackground"
                     maxItems="1"
                     multiple="false"
                     showThumbnails="true"
                     requestUpdate="true" />
</f:section>

<f:section name="Main">
    <f:switch expression="{settings.header.Layout}">
        <f:case value="1">
            <f:render partial="Header/Parallax" arguments="{_all}" />
        </f:case>
        <f:case default="1">
            <f:render partial="Header/Default" arguments="{_all}" />
        </f:case>
    </f:switch>
</f:section>
