<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:vhs="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <f:render partial="Logo" arguments="{data:data,homePageId:homePageId}"/>
        <f:if condition="{navigationPageId}">
        <vhs:page.menu class="right hide-on-med-and-down" pageUid="{navigationPid}">

        </vhs:page.menu>

        <vhs:page.menu id="nav-mobile" class="side-nav" pageUid="{navigationPid}">

        </vhs:page.menu>
        </f:if>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>